
body {
    margin: 0 auto;
    max-width: 80%;
    font-family: "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 251px;
    width: 294px;
    background-color: rgb(223, 214, 224);
}

.grid div {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 50%;
    background-color: white;
}

.player-one {
    background-color: #ffd670 !important;
    border-radius: 20px;
}

.player-two {
    background-color: #fc8eac !important;
    border-radius: 10px;
}

#current-player {
    background-color: bisque;
}


.taken.below {
    border: none;
    background-color: white;
}